html,
body {
    // -webkit-text-size-adjust: none;
    -webkit-tap-highlight-color: transparent;
    width: 100%;
}

body {
    height: 100%;
    min-height: 100vh;
    scroll-behavior: smooth;
}


img {
    display: block;
    max-width: 100%;
    height: auto;
}

:focus{
    outline: 0;
}

a{
    display: block;
    transition: all 0.2s;
    &:hover{
        text-decoration: none;
    }
}

ul,ol,li{
    list-style: none;
    padding: 0;
    margin-bottom: 0;
}

