<div class="d-flex flex-column flex-lg-row justify-content-between align-items-center">
    <img data-aos="fade-up" data-aos-delay="100" class="mb-s-8 mb-lg-s-0" src="../assets/images/logo.png" alt="">
    <div class="mb-s-8 mb-lg-s-0" data-aos="fade-up" data-aos-delay="200">
      <p class="mb-s-2">讓每個人吃得營養健康是我們的理念</p>
      <p class="d-flex align-items-center mb-0">為健康而設計的美味 <img src="../assets/images/logo type.png" alt=""></p>
    </div>
    <div class="d-grid col-12 col-lg-auto d-lg-flex align-items-start">
      <a data-aos="fade-up" data-aos-delay="300" class="btn btn-primary py-s-4 px-s-10 fw-bold text-white me-s-5 w-100 w-lg-auto mb-s-7 mb-lg-s-0 .text-nowrap" href="#">開始訂餐</a>
      <a data-aos="fade-up" data-aos-delay="300" class="btn btn-outline-primary py-s-4 px-s-10 fw-bold w-100 w-lg-auto border-2 bg-white text-nowrap" href="#">線上超市</a>
    </div>
  </div>
  <hr class="mt-s-10 mb-s-10 text-black-400">
  <div class="d-flex justify-content-center mb-s-6">
    <a class="w-40px me-s-4" href=""><img src="../assets/images/line.png" alt=""></a>
    <a class="w-40px me-s-4" href=""><img src="../assets/images/fb.png" alt=""></a>
    <a class="w-40px" href=""><img src="../assets/images/ig.png" alt=""></a>
  </div>
  <p class="text-black-700 text-center mb-0">copyright © 2023 健康餐盒. All right reserved.</p>