<nav class="navbar navbar-expand-lg">
    <div class="container-fluid justify-content-between py-s-3 py-lg-s-0">
        <a href="index.html"><h1 class="mb-0">Eat起來</h1></a>
      <button class="btn border-0 outline-0 navbar-toggler bg-white" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <img src="../assets/images/menu.png" alt="">
      </button>
      <div class="collapse navbar-collapse flex-grow-0 mt-s-3" id="navbarSupportedContent">
        <ul class="navbar-nav navbar-line me-auto mb-2 mb-lg-0 flex-wrap flex-lg-nowrap justify-content-center align-items-lg-center py-s-5 py-lg-s-0">
          <li class="nav-item p-0 h5 pe-lg-s-14 text-center w-50 w-lg-auto mx-auto">
            <a class="nav-link" href="personalOrder.html">線上訂餐</a>
          </li>
          <li class="nav-item p-0 h5 px-lg-s-14 text-center w-50 w-lg-auto mx-auto">
            <a class="nav-link" href="#">線上超市</a>
          </li>
          <li class="nav-item p-0 h5 px-lg-s-14 text-center w-50 w-lg-auto mx-auto">
            <a class="nav-link" href="store.html">門市資訊</a>
          </li>
          <li class="nav-item p-0 h5 ps-lg-s-14 text-center w-50 w-lg-auto mx-auto">
          <a class="nav-link" href="center.html">
            <span><i class="fa-solid fa-user link-primary fs-s-8 mb-0"></i>
            </span></a>
        </li>
        </ul>
      </div>
    </div>
    <script src="https://kit.fontawesome.com/6ffafbaa63.js" crossorigin="anonymous"></script>
  </nav>