//搜尋欄(訂餐頁面)
.input-container {
    position: relative;
    // display: inline-block;
    input {
        padding: 8px;
        border-radius: 10px;
        border: 2px solid #d1d9e5;
        width: 100%;
        &::placeholder {
            color: #bfc3ca;
        }
    }
    .search-icon {
        position: absolute;
        right: 5%;
        top:25%;
        font-size: 20px;
    }
}

//分店資訊 圖片

.store-img {
    max-width: 250px;
    height: auto;
    @include pad-down{
        max-width: 150px;
    }
}