.special, .buy-together, .customer-testimonials{
  .line{
    position: relative;
    padding-left: 20px;
    padding-right: 20px;
    // @include media-breakpoint-up(md){
    //   padding-left: 32px;
    //   padding-right: 32px;
    // }
    &:not(:last-child)::after{
      content:"";
      position: absolute;
      display: block;
      top: 50%;
      right:0;
      transform: translateY(-50%);

      width: 1px;
      height: 24px;
      background-color: $black-400;
      // margin-left: 64px;
    }
  }
}
.scroll-animate {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 500px;

  @include pad-up{
    height: 0;
    padding-bottom: 70%;
  }
}

.scroll-animate img {
  position: absolute; 
  max-width: 100%;
}

.scroll-animate img:nth-child(1) {
  width: 182px;
  top: 15%;
  left: 5%;
  @include pad-up{
    width: 250px;
    top: 10%;
    left: 20%;
  }
  @include desktop-up{
    width: 416px;
    top: 10%;
    left: 20%;
  }
}
.scroll-animate img:nth-child(2) {
  width: 182px;
  top: 40%;
  left: 48%;
  @include pad-up{
    width: 250px;
    top: 30%;
    left: 60%;
  }
  @include desktop-up{
    width: 416px;
    top: 30%;
    left: 70%;
  }
}
.scroll-animate img:nth-child(3) {
  width: 182px;
  top: 75%;
  left: 5%;
  @include pad-up{
    width: 250px;
    top: 60%;
    left: 20%;
  }
  @include desktop-up{
    width: 416px;
    top: 60%;
    left: 30%;
  }
}
.scroll-animate img:nth-child(4) {
  width: 53px;
  top: 55%;
  left: 0;
  @include pad-up{
    width: 140px;
    top: 30%;
    left: 0;
  }
  @include desktop-up{
    width: 273px;
    top: 30%;
    left: 0;
  }
}
.scroll-animate img:nth-child(5) {
  width: 168px;
  top: 0%;
  left: 40%;
  @include pad-up{
    width: 250px;
    top: 0%;
    left: 40%;
  }
  @include desktop-up{
    width: 571px;
    top: 0%;
    left: 40%;
  }
}
.scroll-animate img:nth-child(6) {
  width: 86px;
  top: 90%;
  right: 0;
  z-index: 2222;
  @include pad-up{
    width: 170px;
    top: 70%;
    right: 0;
  }
  @include desktop-up{
    width: 316px;
    top: 70%;
    right: 0;
  }
}
.scroll-animate img:nth-child(7) {
  width: 47px;
  top: 30%;
  right: 30%;
  @include pad-up{
    width: 70px;
    top: 30%;
    right: 27%;
  }
  @include desktop-up{
    width: 107px;
    top: 30%;
    right: 27%;
  }
}
.scroll-animate img:nth-child(8) {
  width: 46px;
  top: 45%;
  left: 13%;
  @include pad-up{
    width: 70px;
    top: 38%;
    left: 20%;
  }
  @include desktop-up{
    width: 106px;
    top: 38%;
    left: 20%;
  }
}
.scroll-animate img:nth-child(9) {
  width: 49px;
  top: 80%;
  right: 28%;
  @include pad-up{
    width: 110px;
    top: 70%;
    right: 35%;
  }
  @include desktop-up{
    width: 113px;
    top: 70%;
    right: 35%;
  }
}
.scroll-animate img:nth-child(10) {
  width: 51px;
  top: 40%;
  left: 38%;
  @include pad-up{
    width: 110px;
    top: 38%;
    left: 45%;
  }
  @include desktop-up{
    width: 163px;
    top: 38%;
    left: 45%;
  }
}
.scroll-animate img:nth-child(11) {
  width: 58px;
  top: 70%;
  right: 33%;
  @include pad-up{
    width: 110px;
    top: 58%;
    right: 33%;
  }
  @include desktop-up{
    width: 192px;
    top: 58%;
    right: 33%;
  }
}

//幻燈片圖片
.desktop-img {
  @include pad-down{
    display: none;
  }
}

.mobile-img {
  @include pad-up {
    display: none;
  }
}

.swiper-slide {
  height: auto;
  img {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
}

//標題

.title-img {
  top: -40px;
  width: 40%;
  @include pad-up{
    width: 26%;
  }
}