<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>會員登入</title>
    <link rel="stylesheet" href="../assets/scss/all.scss">
</head>
<body>
    <div class="shadow-sm">
        <div class="container">
            <%- include('./layout/header'); -%> 
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-center mt-s-20 mb-s-10">
            <div class="col-lg-2 col-md-3 col-6 ">
                <button type="button" class="btn btn-primary py-s-4 px-s-5 text-white w-100">Eat起吃過</button>
            </div>
            <div class="col-lg-2 col-md-3 col-6">
                <a href="signup.html" class="btn-hover py-s-4 px-s-5 w-100 text-decoration-none text-center">還沒吃過</a>
            </div>
        </div>
        <div class="row flex-column mb-s-20">
            <div class="col-12 col-md-8 col-lg-6 mx-auto">
                <form action="">
                    <div class="row justify-content-center mb-s-5 align-items-center">
                        <label for="email" class="col-3 col-md-2 col-lg-2">Email：</label>
                        <input type="email" class="col-lg-6 col-mb-6 col-8 w-50 border rounded-2 p-s-3" name="email" placeholder="請輸入Email">
                    </div>
                    <div class="row justify-content-center mb-s-5 align-items-center">
                        <label for="password" class="col-md-2 col-3 col-lg-2">密碼：</label>
                        <input type="email" class="col-lg-6 col-mb-6 col-8 w-50 border rounded-2 p-s-3" name="password" placeholder="請輸入密碼">
                    </div>
                    <div class="d-flex justify-content-center">
                        <button class="loginBtn w-50 btn btn-primary text-white fw-bold py-s-4 mt-s-5 " type="submit">登入</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="footer-shadow">
        <div class="container pt-s-5">
            <%- include('./layout/footer'); -%> 
        </div>
    </div>

    <script>
        const loginBtn = document.querySelector('.loginBtn');
        loginBtn.addEventListener('click',e=>{
            e.preventDefault();
            window.location.href = `http://localhost:5173/healthbox/pages/center.html`    
        })
    </script>
      <script type="module" src="../main.js"></script>
</body>
</html>